body{
  background-image: url("bg-img.jpg");
  background-size: contain;
  background-color: #f7d26f;
}
.over-body{
  background-color: #ffffff;
}
.loading-page{
  background-image: url("loading.gif");
  background-size: contain;
}